<!DOCTYPE html>
<html lang="en">
<%- include('header') %>
<body>
    <nav class="navbar">
        <a href="/">Home</a> 
        <a href="/about">About</a> 
        <a href="/createBlog">Create Blog</a>
    </nav>
</body>
</html>